.container {
  height: 50vh;
  width: 100%;
  align-items: left;
  justify-content: left;
  background-color: #fcfcfc;
}
.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 290px;
  border: 3px dotted #a3a3a3;
  border-radius: 10px;
  padding: 5px 30px 40px;
}
.drop_box {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}
.btn {
  text-decoration: none;
  background-color:rgb(73, 111, 178);
  color: #2b2725;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}
.btn:hover{
  text-decoration: none;
  background-color:rgb(236, 243, 245);
  color: #034451;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color:rgb(24, 173, 219);
  border:#dddfea;;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.sidebar, article{
  background: var(--eerie-black-2);
  border: 1px solid var(--jet);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}
